.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root[data-testid="MenuIcon"],
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root[data-testid="AccountCircleIcon"] {
  color: white;
}

a {
  text-decoration: none;
  color: #37474f;
}

a.active {
  color: #0288d1;
}

.active
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root[data-testid="DashboardIcon"],
.active
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root[data-testid="ManageSearchIcon"],
.active
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root[data-testid="LanguageIcon"],
.active
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root[data-testid="AdminPanelSettingsIcon"],
.active
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root[data-testid="PeopleAltIcon"],
.active
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root[data-testid="ChevronLeftIcon"] {
  color: #0288d1;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 750px !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 64%;
}

.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container {
  margin: 0 11%;
}

@media (min-width: 1200px) {
  .css-1guvu4a-MuiContainer-root {
    max-width: 100% !important;
  }
}
.css-1guvu4a-MuiContainer-root {
  margin-bottom: 0px !important;
  margin-top: 64px !important;
}

@media (min-width: 600px) {
  .css-hyum1k-MuiToolbar-root {
    min-height: 20px !important;
  }
}
